.cell {
    height: 70px;
}

.black-cell {
    background-color: black;
}

.checker-img {
    border-radius: 35px;
    width: 70px;
    height: 70px;
}

.checker-img:active {
    border: 5px solid orange;
}

.container {
    border: 10px solid orange;
}
